asgiref==3.8.1
boto==2.49.0
colorama==0.4.6
colorlog==6.8.2
distlib==0.3.8
dj-database-url==2.2.0
Django==5.0.6
django-heroku==0.3.1
django-markwhat==1.6.2
filelock==3.15.4
gunicorn==22.0.0
keyring==5.7.1
markdown2==2.4.13
npm==0.1.1
optional-django==0.1.0
packaging==24.1
pi==0.1.2
platformdirs==4.2.2
psycopg2==2.9.9
psycopg2-binary==2.9.9
six==1.16.0
sqlparse==0.5.0
tornado==6.4.1
typing_extensions==4.12.2
tzdata==2024.1
virtualenv==20.26.3
whitenoise==6.7.0
